<a href="https://colab.research.google.com/github/RITIK1442840127/Top-100-Coding-Questions-of-Python/blob/main/Top_100_Coding_Questions_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic

In [ ]:
#Start
print ("Hellow Ritik")

Hellow Ritik

In [ ]:
#Variable
name = "Ritik"
age = 27
print (name); print (age)

Ritik
27

In [ ]:
#Variable value can be change
name= "Rishu"
age= 27.7
print(name); print (age)

Rishu
27.7

In [ ]:
#taking user input
name= input ("what is your name ?  ")

In [ ]:
#Type conversion
age= input("Enter your age : ")
new_age = int (age)+2
print (new_age)

In [ ]:
num= 12
print(float(num))

12.0

In [ ]:
first= input ("Enter the 1st num : ")
second = input ("Enter the 2nd num : ")
third = input ("Enter the 3rd num: ")
sum = (first+second+third)
sum1= (int(first)+ int(second)+ int(third))
print(sum)
print (sum1)

Enter the 1st num : 7
Enter the 2nd num : 7
Enter the 3rd num: 7
777
21

In [3]:
#Change into Uppercase / lowercase letter
name= "Ritik Tiwari"
print (name.upper())
print (name.lower())
print(name)

RITIK TIWARI
ritik tiwari
Ritik Tiwari