<a href="https://colab.research.google.com/github/RITIK1442840127/Top-100-Coding-Questions-of-Python/blob/main/Top_500_Coding_Questions_of_Python_By_Ritik_Tiwari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic

In [ ]:
#Start
print ("Hellow Ritik")

Hellow Ritik

In [ ]:
#Variable
name = "Ritik"
age = 27
print (name); print (age)

Ritik
27

In [ ]:
#Variable value can be change
name= "Rishu"
age= 27.7
print(name); print (age)

Rishu
27.7

In [ ]:
#taking user input
name= input ("what is your name:  ")

what is your name:  Ritik

In [ ]:
#Type conversion
age= input("Enter your age : ")
new_age = int (age)+2
print (new_age)

Enter your age : 25
27

In [ ]:
num= 12
print(float(num))

12.0

In [ ]:
first= input ("Enter the 1st num : ")
second = input ("Enter the 2nd num : ")
third = input ("Enter the 3rd num: ")
sum = (first+second+third)
sum1= (int(first)+ int(second)+ int(third))
print(sum)
print (sum1)

Enter the 1st num : 23
Enter the 2nd num : 34
Enter the 3rd num: 23
233423
80

In [ ]:
#Change into Uppercase / lowercase letter
name= "Ritik Tiwari"
print (name.upper())
print (name.lower())
print(name)

RITIK TIWARI
ritik tiwari
Ritik Tiwari

In [ ]:
print (name.find("R"))
print(name.find("Tiwari"))
print (name.find("wari"))
print (name.find("z"))

0
6
8
-1

In [ ]:
print(name.replace ("Ritik","Tiwari"))
print (name.replace("R","T"))
print (name)

Tiwari Tiwari
Titik Tiwari
Ritik Tiwari

In [ ]:
print("T" in name)
print ("R" in name)
print ("Z" in name)

True
True
False

In [ ]:
#Mathmatics
print (5+10)
print(10-5)
print (10*5)
print (101/2)
print (101//2)
print (101%2)
print (10**2)
print(10**3)

15
5
50
50.5
50
1
100
1000

In [ ]:
#Shortcut
i=5
i+=2
i-=2
i*=5
i/=5
print(i)

5.0

In [ ]:
#Operator precedence
result = 2+5*10
result1 = (2+5)*10
print (result)
print(result1)

52
70

In [ ]:
#Comparision operator
print (2>3)
print (3>2)
print (2<3)
print (2>=3)
print (2==3)
print(2!=3)

False
True
True
False
False
True

In [ ]:
#Logical operator
print (2>5 or 2<5)
print (2>5 and 2<5)
print (not 2<5)

True
False
False

In [ ]:
#If-else
num=100
if num>=90:
   print ("You are alive")
print ("You are in heaven")

You are alive
You are in heaven

In [ ]:
num =100
if num<=90:
  print ("You are alive")
print ("You are in heaven")

You are in heaven

In [ ]:
#If,elif,else
num = 60
if num > 70:
  print ("You are old")
elif num > 30 and num < 65:
     print ('You are young')
else:
     print ("You are child")

You are young

In [ ]:
age=17
if age>18:
  print("You are adult, You can vote")
elif age > 14 and age<18:
  print (" You are in school or collage")
else:
  print ("You are a child")

 You are in school or collage

In [ ]:
number = range (5)
print (number)

range(0, 5)

In [ ]:
#Calculator
first = input ("Enter your first num : ")
operator = input ("Enter the operator (+,_,*,/,%)")
second = input ("Enter your second num : ")
first = int(first)
second = int (second)
if operator == ("+"):
  print (first+second)
elif operator == ("-"):
  print (first-second)
elif operator == ("*"):
  print (first*second)
elif operator == ("/"):
  print (first/second)
elif operator == ("%"):
  print (first%second)
else :
  print ("your operation is wrong")

Enter your first num : 75
Enter the operator (+,_,*,/,%)+
Enter your second num : 33
108

In [ ]:
#While loop
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<=5:
  print (i)
  i=i+1

1
2
3
4
5

In [ ]:
i=10
while i>=1:
  print (i*("à¤®à¤¾à¤‚ "))
  i=i-1

à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚
à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚
à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚
à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚
à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚
à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚
à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚
à¤®à¤¾à¤‚à¤®à¤¾à¤‚à¤®à¤¾à¤‚
à¤®à¤¾à¤‚à¤®à¤¾à¤‚
à¤®à¤¾à¤‚

In [ ]:
i=1
while i<=7:
  print(i*("$"))
  i=i+1

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$

In [ ]:
i=1
while i<=10:
  print(i*"à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€")
  i=i+1

à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€
à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€
à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€
à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€
à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€
à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€
à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€
à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€
à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€
à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€à¤¶à¥à¤­ à¤¦à¥€à¤ªà¤¾à¤µà¤²à¥€

In [ ]:
#for loop
for i in range (5):
  print (i)

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i*"$")

$
$$
$$$
$$$$

In [ ]:
for i in range (5):
  print(i+1)

1
2
3
4
5

In [ ]:
#List
R= [1,2,3,"a",4,5,7]
print (R)

[1, 2, 3, 'a', 4, 5, 7]

In [ ]:
print (R[1])
print(R[-1])

2
7

In [ ]:
print (R[1:4])

[2, 3, 'a']

In [ ]:
print(R[0:5])

[1, 2, 3, 'a', 4]

In [ ]:
R.append(10)
print(R)

[1, 2, 3, 'a', 4, 5, 7, 10]

In [ ]:
R.insert (1,10)
print(R)

[1, 10, 2, 3, 'a', 4, 5, 7, 10]

In [ ]:
print (10 in R)
print ("a" in R)

True
True

In [ ]:
print(len(R))

9

In [ ]:
#While loop
i=0
while i < len(R):
  print (R[i])
  i=i+1

1
10
2
3
a
4
5
7
10

In [ ]:
i=0
while i<(len(R)):
  print (R[i])
  i=i+2

1
2
a
5
10

In [ ]:
i=1
while i<=10:
  print (i*("  ðŸª”  "))
  i=i+1
i=1
while i<=5:
  print (i*(" Happy_Diwali "))
  i=i+1
i=1
while i<=10:
  print (i*("  ðŸ™  "))
  i=i+1

  ðŸª”
  ðŸª”    ðŸª”
  ðŸª”    ðŸª”    ðŸª”
  ðŸª”    ðŸª”    ðŸª”    ðŸª”
  ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”
  ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”
  ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”
  ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”
  ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”
  ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”    ðŸª”
 Happy_Diwali
 Happy_Diwali  Happy_Diwali
 Happy_Diwali  Happy_Diwali  Happy_Diwali
 Happy_Diwali  Happy_Diwali  Happy_Diwali  Happy_Diwali
 Happy_Diwali  Happy_Diwali  Happy_Diwali  Happy_Diwali  Happy_Diwali
  ðŸ™
  ðŸ™    ðŸ™
  ðŸ™    ðŸ™    ðŸ™
  ðŸ™    ðŸ™    ðŸ™    ðŸ™
  ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™
  ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™
  ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™
  ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™
  ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™
  ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™    ðŸ™

In [ ]:
marks =[12,12,14,15,18]
print(marks)

[12, 12, 14, 15, 18]

In [ ]:
marks.clear()
print(marks)

[]

In [ ]:
#Break
indian_team = ["sachin", "dhoni", "ritik", "virat", "rohit"]
for team in indian_team:
  if team == "ritik":
     break;
  print(team)

sachin
dhoni

In [ ]:
#continue
for team in indian_team:
  if team== "ritik":
    continue;
  print (team)

sachin
dhoni
virat
rohit

In [ ]:
#touple
x= (12,12,14,15,16,"ram",12)
print (x.count (12))
print (x.count(14))
print (x.count(10))
print (x.index("ram"))

3
1
0
5

In [ ]:
#set
sun = { 10,12,12,15,16,18,20 ,'r'}
print(sun)

{16, 18, 20, 'r', 10, 12, 15}

In [ ]:
marks = {12,14,15,19,12,15}
for score in marks:
  print (score)

19
12
14
15

In [ ]:
#Dictionary
marks = {"math": 100, "physics": 98, "chemistry": 95}
information = {"ram": "ayodhya" }
print (marks["physics"])
print (information["ram"])

98
ayodhya

In [ ]:
marks["hindi"]=90;
marks["math"]=99;
print(marks)

{'math': 99, 'physics': 98, 'chemistry': 95, 'hindi': 90}

In [ ]:
import math
print (dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
from math import sqrt
print(sqrt(225))

15.0

In [ ]:
def print_sum (first, second):
  print (first+second)
print_sum (2,3)

5

In [ ]:
def print_sum(first, second=5):
  print(first+second)
print_sum(10)

15

##Imp practiced question

In [ ]:
#range
z=list (range (10))
print (z)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
square = [number**2 for number in z]
cube = [number**3 for number in z]
print(z)
print(square)
print(cube)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
z= [*range(10)]
square = [number**2 for number in z]
print(z)
print(square)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list= [2,3,1,23,34,5,4,4,34]
max(list)

34

In [ ]:
min(list)

1

In [ ]:
#temprary sort
sorted(list)

[1, 2, 3, 4, 4, 5, 23, 34, 34]

In [ ]:
print(list)

[2, 3, 1, 23, 34, 5, 4, 4, 34]

In [ ]:
#permanent sort
list.sort()

In [ ]:
print(list)

[1, 2, 3, 4, 4, 5, 23, 34, 34]

In [ ]:
cube = [number **3 for number in list ]
print(cube)

[1, 8, 27, 64, 64, 125, 12167, 39304, 39304]

In [ ]:
even_cube = [number**3 for number in list if number%2 == 0 ]
print(even_cube)

[8, 64, 64, 39304, 39304]

In [ ]:
odd_cube = [ number**3 for number in list if number%2 != 0]
print(odd_cube)

[1, 27, 125, 12167]

In [ ]:
#Table
x= [1,2,3,4,5,6,7,8,9,10]
second = [number*2 for number in x]
third = [number*3 for number in x]
fourth = [number*4 for number in x]
fifty = [number*5 for number in x]
print(x)
print(second)
print(third)
print(fourth)
print(fifty)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
r= [*range(0,11)]
s= [ number**2 for number in r]
se= [number**2 for number in r if number%2 == 0]
print(r)
print(s)
print(se)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 4, 16, 36, 64, 100]

#Top 100 coding questions

In [ ]:
#1-user will input 3 ages & find the oldest one
age1 = int(input ( "enter your ege : "))
age2= int(input ("enter your age : "))
age3= int(input("enter your age : "))
if (age1>age2) and (age1>age3):
  print ("age1 is oldest")
elif (age2>age1) and (age2>age3):
  print("age2 is oldest")
else:
  print("age3 is oldest")

enter your ege : 12
enter your age : 14
enter your age : 15
age3 is oldest

In [ ]:
#2-Write a program to check given num is divisible by 7 & 10 or not
a = int (70)
if a%7==0 and a%10==0:
   print ("num is divisible by 7 & 10")
else :
   print ("num is not divisible by 7 & 10")

num is divisible by 7 & 10

In [ ]:
#3- write a progam that will convert tempature which is in degree celsius into fahrenheit
dc = float (input ("enter tem in dc : "))
fh = ((dc*1.18)+32)
print ("the tem in fahrenheit is :", fh )

enter tem in dc : 35
the tem in fahrenheit is : 73.3

In [ ]:
#4-user will input 3 num & swap the num
c=0
a = int(input ( "enter the first num  " ))
b = int(input ( "enter the second num   " ))
c=a
a=b
b=c
print("after swaping both the num")
print ("num1:",a)
print ("num2:",b)

enter the first num  12
enter the second num   14
after swaping both the num
num1: 14
num2: 12

In [ ]:
#5-1write a program to swap the number without using 3rd variable
a= int (input ("my first num is : "))
b= int (input ("my second num is : "))
a= a+b
b= a-b
a= a-b
print ("after swaping both the num.....")
print ("first num : ", a )
print ("second num : ", b )

my first num is : 10
my second num is : 23
after swaping both the num.....
first num :  23
second num :  10

In [ ]:
#6-write a program that will give you sum of digit
num = int (input( "enter your num :" ))
a = num%10
rem = num//10
b= rem%10
rem= rem//10
c = rem%10
sum = a+b+c
print("sum of digit :", sum )

enter your num :123
sum of digit : 6

In [ ]:
#5.Write a program that will reverse a four digit number. Also it checks whether the reverse is true.
original_num = int (input("original 4 digit num is :"))
num = original_num
a = num%10
rem = num//10
b= rem%10
rem = rem//10
c= rem%10
rem = rem//10
d = rem %10
reverse_num = (a*1000)+(b*100)+(c*10)+d
print ('New number is : ', reverse_num)
# checking the num is reversed or not
if original_num == reverse_num:
  print ("true")
else:
  print ("false")

original 4 digit num is :1234
New number is :  4321
false

In [ ]:
## 6.Write a program that will tell whether the number entered by the user is odd or even
a = int (input ("enter your num"))
if a%2 == 0 :
         print ("The num is even")
else:
         print ("The num is odd")

enter your num127
The num is odd

In [ ]:
##7- Write a program that will tell whether the given year is a leap year or not.
x = int(input("enter the year..."))
if (x%100==0) and (x%400==0):
  print ("it is a leap year")
elif (x%4==0) and (x%100 != 0):
  print ("it is a leap year")
else :
  print ("it is not a leap year")

enter the year...2000
it is a leap year

In [ ]:
##8-Write a program to find the euclidean distance between two coordinates.
x1= int(input("enter value of x1 : "))
x2= int(input("enter value of x2 : "))
y1= int(input("enter value of y1 : "))
y2= int(input("enter value of y2 : "))
euclidean_distance = ((x2-x1)**2+(y2-y1)**2)**0.5
print("euclidean_distance = ",euclidean_distance)

enter value of x1 : 34
enter value of x2 : 23
enter value of y1 : 12
enter value of y2 : 12
euclidean_distance =  11.0

In [ ]:
##9-  Write a program that take a user input of three angles and will find out whether it can form a triangle or not.
a= int(input("Input value angle_a : "))
b= int(input("Input value angle_b : "))
c= int(input("Input value angle_c : "))
if (a+b+c == 180) and a!=0 and b!=0 and c!=0 :
  print ("This is the valid trangle")
else:
  print ("This is not a valid trangle")

Input value angle_a : 50
Input value angle_b : 30
Input value angle_c : 100
This is the valid trangle

In [ ]:
##10- Write a program that will take user input of cost price and selling price and determine whether its a loss or a profit
cp = int(input("enter value of cp : "))
sp = int(input("enter value of sp : "))
if cp>sp :
  print ("You are in loss")
elif cp<sp :
  print ("You are in profit")
else :
  print ("You are neither in profit nor loss")

enter value of cp : 50
enter value of sp : 51
You are in profit

In [ ]:
##11- Write a program to find the simple interest when the value of principle,rate of interest and time period is given.
p = int (input ("enter the value of principal amount : "))
r = int(input ("enter the value of rate of interest : "))
t = int (input ("enter the value of time period : "))
si = (p*r*t)/100
a= p + si
print ("Your amount is" ,a ,"on a simple interest of ", si)

enter the value of principal amount : 100
enter the value of rate of interest : 7
enter the value of time period : 10
Your amount is 170.0 on a simple interest of  70.0

In [ ]:
##12- Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.
r= int(input ("enter the radius of your cylinder : "))
h= int(input ("enter the height of your cylinder : "))
volume = 3.14*r**2*h
cost = 50*volume/1000
print ("The volume of cylinder is : ", volume, "the cost of cylinder is : ", cost)

enter the radius of your cylinder : 100
enter the height of your cylinder : 50
The volume of cylinder is :  1570000.0 the cost of cylinder is :  78500.0

In [ ]:
#13-Write  a program that will tell whether the given number is divisible by 3 & 6.
a= int(input("print your num : "))
if (a%3==0) and (a%6==0) :
  print ("the num is divisible by 3 & 6")
else :
  print("the num is not divisible by 3 & 6")

print your num : 45
the num is not divisible by 3 & 6

In [ ]:
#14-Write  a program that will tell whether the given number is divisible by 3 & 7.
a= int(input("print your num : "))
if (a%3==0) and (a%7==0) :
  print ("the num is divisible by 3 & 7")
else :
  print("the num is not divisible by 3 & 7")

print your num : 56
the num is not divisible by 3 & 7

In [ ]:
#15- Write a program that will tell you whether the given num is divisible by 7 & 13.
a = 91
if (a%7==0) and (a%13==0) :
   print("the num is divisible by 7 & 13")
else:
   print ("the num is not divisible by 7 & 13")

the num is divisible by 7 & 13

#### 16-Write a program that will determine weather when the value of temperature and humidity is provided by the user.

    TEMPERATURE(C)      HUMIDITY(%)         WEATHER
     >= 30              >=90                Hot and Humid
     >= 30              < 90                Hot
     <30                >= 90               Cool and Humid
     <30                <90                 Cool

In [ ]:
tem = int (input("your tem in degree celcius : "))
hum = int (input ("your humidity in percentage"))
if tem >= 30 and hum >=90 :
  print ("Hot and Humid")
elif tem>=30 and hum < 90 :
  print ("Hot")
elif tem < 30 and hum >=90 :
  print ("Cool and Humid")
else :
  print ("Cool")

your tem in degree celcius : 45
your humidity in percentage90
Hot and Humid

In [ ]:
##17- Write a program that will take three digits from the user and add the square of each digit.
num1 = int(input ("enter your first num : "))
num2 = int(input ("enter your second num : "))
num3 = int(input ("enter your third num : "))
sum = (num1**2)+(num2**2)+(num3**2)
print ("The value of sum of squre of 3 num is :" , sum)

enter your first num : 1
enter your second num : 2
enter your third num : 3
The value of sum of squre of 3 num is : 14

In [ ]:
## 18-Write a program that will check whether the number is armstrong (or narcissist) number or not.

### let us consider ABC of order â€˜nâ€™ then ABC is an Armstrong number if: ABC= An+Bn+Cn
#### 153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number
num = int(input("Enter the number : "))
order = len(str(num))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10

# display the result
if num == sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter the number : 100
100 is not an Armstrong number

In [ ]:
#Method_2
user_input = int (input("Enter your number : "))
num = user_input
a= num%10
num=num//10
b= num%10
c= num//10

if (a**3)+(b**3)+(c**3) == user_input:
  print ("Armstrong number")
else:
  print ("Not a Armstrong number")

Enter your number : 153
Armstrong number

In [ ]:
#Method_3
user_input = int (127)
num = user_input
a= num%10
num=num//10
b= num%10
c= num//10

if (a**3)+(b**3)+(c**3) == user_input:
  print ("Armstrong number")
else:
  print ("Not a Armstrong number")

Not a Armstrong number

In [ ]:

#Ex- 4
user_input = int (407)
num = user_input
a= num%10
num=num//10
b= num%10
c= num//10

if (a**3)+(b**3)+(c**3) == user_input:
  print ("Armstrong number")
else:
  print ("Not a Armstrong number")

Armstrong number

In [ ]:
print ("It's one day gap" )

It's one day gap

In [ ]:
print ("I am revising the previous concept")

I am revising the previous concept

In [ ]:
print ("I am still revising")

I am still revising

In [ ]:
print ("I am still revising")

I am still revising

In [1]:
print ("I have fever")

I have fever

In [ ]:
##19- Write a program that will check whether the number is prime number or not.