<a href="https://colab.research.google.com/github/RITIK1442840127/Top-100-Coding-Questions-of-Python/blob/main/Top_100_Coding_Questions_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic

In [ ]:
#Start
print ("Hellow Ritik")

Hellow Ritik

In [ ]:
#Variable
name = "Ritik"
age = 27
print (name); print (age)

Ritik
27

In [ ]:
#Variable value can be change
name= "Rishu"
age= 27.7
print(name); print (age)

Rishu
27.7

In [ ]:
#taking user input
name= input ("what is your name ?  ")

In [ ]:
#Type conversion
age= input("Enter your age : ")
new_age = int (age)+2
print (new_age)

In [ ]:
num= 12
print(float(num))

12.0

In [ ]:
first= input ("Enter the 1st num : ")
second = input ("Enter the 2nd num : ")
third = input ("Enter the 3rd num: ")
sum = (first+second+third)
sum1= (int(first)+ int(second)+ int(third))
print(sum)
print (sum1)

Enter the 1st num : 7
Enter the 2nd num : 7
Enter the 3rd num: 7
777
21

In [ ]:
#Change into Uppercase / lowercase letter
name= "Ritik Tiwari"
print (name.upper())
print (name.lower())
print(name)

RITIK TIWARI
ritik tiwari
Ritik Tiwari

In [ ]:
print (name.find("R"))
print(name.find("Tiwari"))
print (name.find("wari"))
print (name.find("z"))

0
6
8
-1

In [ ]:
print(name.replace ("Ritik","Tiwari"))
print (name.replace("R","T"))
print (name)

Tiwari Tiwari
Titik Tiwari
Ritik Tiwari

In [ ]:
print("T" in name)
print ("R" in name)
print ("Z" in name)

True
True
False

In [ ]:
#Mathmatics
print (5+10)
print(10-5)
print (10*5)
print (101/2)
print (101//2)
print (101%2)
print (10**2)
print(10**3)

15
5
50
50.5
50
1
100
1000

In [4]:
#Shortcut
i=5
i+=2
i-=2
i*=5
i/=5
print(i)

5.0