<a href="https://colab.research.google.com/github/RITIK1442840127/Top-100-Coding-Questions-of-Python/blob/main/Top_300_Coding_Questions_of_Python_By_Ritik_Tiwari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic

In [ ]:
#Start
print ("Hellow Ritik")

Hellow Ritik

In [ ]:
#Variable
name = "Ritik"
age = 27
print (name); print (age)

Ritik
27

In [ ]:
#Variable value can be change
name= "Rishu"
age= 27.7
print(name); print (age)

Rishu
27.7

In [ ]:
#taking user input
name= input ("what is your name:  ")

what is your name:  Ritik

In [ ]:
#Type conversion
age= input("Enter your age : ")
new_age = int (age)+2
print (new_age)

Enter your age : 25
27

In [ ]:
num= 12
print(float(num))

12.0

In [ ]:
first= input ("Enter the 1st num : ")
second = input ("Enter the 2nd num : ")
third = input ("Enter the 3rd num: ")
sum = (first+second+third)
sum1= (int(first)+ int(second)+ int(third))
print(sum)
print (sum1)

Enter the 1st num : 23
Enter the 2nd num : 34
Enter the 3rd num: 23
233423
80

In [ ]:
#Change into Uppercase / lowercase letter
name= "Ritik Tiwari"
print (name.upper())
print (name.lower())
print(name)

RITIK TIWARI
ritik tiwari
Ritik Tiwari

In [ ]:
print (name.find("R"))
print(name.find("Tiwari"))
print (name.find("wari"))
print (name.find("z"))

0
6
8
-1

In [ ]:
print(name.replace ("Ritik","Tiwari"))
print (name.replace("R","T"))
print (name)

Tiwari Tiwari
Titik Tiwari
Ritik Tiwari

In [ ]:
print("T" in name)
print ("R" in name)
print ("Z" in name)

True
True
False

In [ ]:
#Mathmatics
print (5+10)
print(10-5)
print (10*5)
print (101/2)
print (101//2)
print (101%2)
print (10**2)
print(10**3)

15
5
50
50.5
50
1
100
1000

In [ ]:
#Shortcut
i=5
i+=2
i-=2
i*=5
i/=5
print(i)

5.0

In [ ]:
#Operator precedence
result = 2+5*10
result1 = (2+5)*10
print (result)
print(result1)

52
70

In [ ]:
#Comparision operator
print (2>3)
print (3>2)
print (2<3)
print (2>=3)
print (2==3)
print(2!=3)

False
True
True
False
False
True

In [ ]:
#Logical operator
print (2>5 or 2<5)
print (2>5 and 2<5)
print (not 2<5)

True
False
False

In [ ]:
#If-else
num=100
if num>=90:
   print ("You are alive")
print ("You are in heaven")

You are alive
You are in heaven

In [ ]:
num =100
if num<=90:
  print ("You are alive")
print ("You are in heaven")

You are in heaven

In [ ]:
#If,elif,else
num = 60
if num > 70:
  print ("You are old")
elif num > 30 and num < 65:
     print ('You are young')
else:
     print ("You are child")

You are young

In [ ]:
age=17
if age>18:
  print("You are adult, You can vote")
elif age > 14 and age<18:
  print (" You are in school or collage")
else:
  print ("You are a child")

 You are in school or collage

In [ ]:
number = range (5)
print (number)

range(0, 5)

In [ ]:
#Calculator
first = input ("Enter your first num : ")
operator = input ("Enter the operator (+,_,*,/,%)")
second = input ("Enter your second num : ")
first = int(first)
second = int (second)
if operator == ("+"):
  print (first+second)
elif operator == ("-"):
  print (first-second)
elif operator == ("*"):
  print (first*second)
elif operator == ("/"):
  print (first/second)
elif operator == ("%"):
  print (first%second)
else :
  print ("your operation is wrong")

Enter your first num : 75
Enter the operator (+,_,*,/,%)+
Enter your second num : 33
108

In [ ]:
#While loop
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<=5:
  print (i)
  i=i+1

1
2
3
4
5

In [ ]:
i=10
while i>=1:
  print (i*("मां "))
  i=i-1

मांमांमांमांमांमांमांमांमांमां
मांमांमांमांमांमांमांमांमां
मांमांमांमांमांमांमांमां
मांमांमांमांमांमांमां
मांमांमांमांमांमां
मांमांमांमांमां
मांमांमांमां
मांमांमां
मांमां
मां

In [ ]:
i=1
while i<=7:
  print(i*("$"))
  i=i+1

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$

In [ ]:
i=1
while i<=10:
  print(i*"शुभ दीपावली")
  i=i+1

शुभ दीपावली
शुभ दीपावलीशुभ दीपावली
शुभ दीपावलीशुभ दीपावलीशुभ दीपावली
शुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावली
शुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावली
शुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावली
शुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावली
शुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावली
शुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावली
शुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावलीशुभ दीपावली

In [ ]:
#for loop
for i in range (5):
  print (i)

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i*"$")

$
$$
$$$
$$$$

In [ ]:
for i in range (5):
  print(i+1)

1
2
3
4
5

In [ ]:
#List
R= [1,2,3,"a",4,5,7]
print ("R")

R

In [ ]:
print (R[1])
print(R[-1])

2
7

In [ ]:
print (R[1:4])

[2, 3, 'a']

In [ ]:
print(R[0:5])

[1, 2, 3, 'a', 4]

In [ ]:
R.append(10)
print(R)

[1, 2, 3, 'a', 4, 5, 7, 10]

In [ ]:
R.insert (1,10)
print(R)

[1, 10, 2, 3, 'a', 4, 5, 7, 10]

In [ ]:
print (10 in R)
print ("a" in R)

True
True

In [ ]:
print(len(R))

9

In [ ]:
#While loop
i=0
while i < len(R):
  print (R[i])
  i=i+1

1
10
2
3
a
4
5
7
10

In [ ]:
i=0
while i<(len(R)):
  print (R[i])
  i=i+2

1
2
a
5
10

In [ ]:
i=1
while i<=10:
  print (i*("  🪔  "))
  i=i+1
i=1
while i<=5:
  print (i*(" Happy_Diwali "))
  i=i+1
i=1
while i<=10:
  print (i*("  🙏  "))
  i=i+1

  🪔
  🪔    🪔
  🪔    🪔    🪔
  🪔    🪔    🪔    🪔
  🪔    🪔    🪔    🪔    🪔
  🪔    🪔    🪔    🪔    🪔    🪔
  🪔    🪔    🪔    🪔    🪔    🪔    🪔
  🪔    🪔    🪔    🪔    🪔    🪔    🪔    🪔
  🪔    🪔    🪔    🪔    🪔    🪔    🪔    🪔    🪔
  🪔    🪔    🪔    🪔    🪔    🪔    🪔    🪔    🪔    🪔
 Happy_Diwali
 Happy_Diwali  Happy_Diwali
 Happy_Diwali  Happy_Diwali  Happy_Diwali
 Happy_Diwali  Happy_Diwali  Happy_Diwali  Happy_Diwali
 Happy_Diwali  Happy_Diwali  Happy_Diwali  Happy_Diwali  Happy_Diwali
  🙏
  🙏    🙏
  🙏    🙏    🙏
  🙏    🙏    🙏    🙏
  🙏    🙏    🙏    🙏    🙏
  🙏    🙏    🙏    🙏    🙏    🙏
  🙏    🙏    🙏    🙏    🙏    🙏    🙏
  🙏    🙏    🙏    🙏    🙏    🙏    🙏    🙏
  🙏    🙏    🙏    🙏    🙏    🙏    🙏    🙏    🙏
  🙏    🙏    🙏    🙏    🙏    🙏    🙏    🙏    🙏    🙏

In [ ]:
marks =[12,12,14,15,18]
print(marks)

[12, 12, 14, 15, 18]

In [ ]:
marks.clear()
print(marks)

[]

In [ ]:
#Break
indian_team = ["sachin", "dhoni", "ritik", "virat", "rohit"]
for team in indian_team:
  if team == "ritik":
     break;
  print(team)

sachin
dhoni

In [ ]:
#continue
for team in indian_team:
  if team== "ritik":
    continue;
  print (team)

sachin
dhoni
virat
rohit

In [ ]:
#touple
x= (12,12,14,15,16,"ram",12)
print (x.count (12))
print (x.count(14))
print (x.count(10))
print (x.index("ram"))

3
1
0
5

In [ ]:
#set
sun = { 10,12,12,15,16,18,20 ,'r'}
print(sun)

{16, 18, 20, 'r', 10, 12, 15}

In [ ]:
marks = {12,14,15,19,12,15}
for score in marks:
  print (score)

19
12
14
15

In [ ]:
#Dictionary